<div style="padding-left: 20px;">
  <h1>Profile</h1>
  <p>name: {{user.name}}</p>
  <p>age: {{user.age}} años</p>
  <p>email: {{user.email}}</p>
</div>

<a style="padding-left: 20px;" href="/api/sessions/logout">
  <button>Log out</button>
</a>